<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Hello React!</title>
    </head>
    <body>
        <div id="root"></div>

        <!-- Dependencies -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.2/umd/react.production.min.js" integrity="sha256-2EQx5J1ux3sjgPLtDevlo449XNXfvEplcRYWIF6ui8w=" crossorigin="anonymous"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.4.2/umd/react-dom.production.min.js" integrity="sha256-3NNU/yoE0R7VxxapKiw/hkgQzcSMztyclb5RpeVlV7Y=" crossorigin="anonymous"></script>-->

        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.4.2/cjs/react.development.js" integrity="sha256-wZpstTYr+It6UGCNK8dHOeBVXX6N5d3CbUg6YOHDLJQ=" crossorigin="anonymous"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.5.1/cjs/react-dom.development.js" integrity="sha256-2pcyRMU/1WKk67/U9q4SMW1p94KM+abRgqYlHSxMUgE=" crossorigin="anonymous"></script>-->
    </body>
</html>
